.u-section-1 .u-sheet-1 {
  min-height: 464px;
}.u-section-2 .u-sheet-1 {
  min-height: 464px;
}.u-section-3 .u-sheet-1 {
  min-height: 1151px;
}

.u-section-3 .u-tabs-1 {
  min-height: 669px;
  margin-top: 60px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-3 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-3 .u-tab-item-2 {
  margin-top: 0;
  margin-bottom: 5px;
}

.u-section-3 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-3 .u-tab-item-3 {
  margin-top: 0;
  margin-bottom: 5px;
}

.u-section-3 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-3 .u-tab-item-4 {
  margin-bottom: 0;
}

.u-section-3 .u-tab-link-4 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-3 .u-tab-pane-1 {
  transition-duration: 0.5s;
  box-shadow: 0 0 0 rgba(0,0,0,0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-1 {
  padding: 0 25px;
}

.u-section-3 .u-table-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 251px 0 auto;
}

.u-section-3 .u-tab-pane-2 {
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
  box-shadow: 0 0 0 rgba(0,0,0,0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-table-2 {
  width: 1144px;
  margin: -1px 0 0;
}

.u-section-3 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-3 .u-table-cell-45 {
  background-image: none;
}

.u-section-3 .u-table-cell-56 {
  background-image: none;
}

.u-section-3 .u-table-cell-67 {
  background-image: none;
}

.u-section-3 .u-table-cell-78 {
  background-image: none;
}

.u-section-3 .u-table-cell-89 {
  background-image: none;
}

.u-section-3 .u-table-cell-100 {
  background-image: none;
}

.u-section-3 .u-table-cell-111 {
  background-image: none;
}

.u-section-3 .u-table-cell-122 {
  background-image: none;
}

.u-section-3 .u-table-cell-133 {
  background-image: none;
}

.u-section-3 .u-table-cell-144 {
  background-image: none;
}

.u-section-3 .u-table-cell-155 {
  background-image: none;
}

.u-section-3 .u-table-cell-166 {
  background-image: none;
}

.u-section-3 .u-table-cell-177 {
  background-image: none;
}

.u-section-3 .u-table-cell-188 {
  background-image: none;
}

.u-block-d3d0-258 {
  background-image: none;
}

.u-section-3 .u-tab-pane-3 {
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
  box-shadow: 0 0 0 rgba(0,0,0,0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-tabs-2 {
  min-height: 615px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-3 .u-tab-link-5 {
  background-image: none;
}

.u-section-3 .u-tab-link-6 {
  background-image: none;
}

.u-section-3 .u-tab-link-7 {
  background-image: none;
}

.u-section-3 .u-tab-link-8 {
  background-image: none;
}

.u-section-3 .u-tab-link-9 {
  background-image: none;
}

.u-section-3 .u-tab-link-10 {
  background-image: none;
}

.u-section-3 .u-tab-link-11 {
  background-image: none;
}

.u-section-3 .u-tab-link-12 {
  background-image: none;
}

.u-section-3 .u-tab-link-13 {
  background-image: none;
}

.u-section-3 .u-tab-pane-4 {
  transition-duration: 0.5s;
  box-shadow: 0 0 0 rgba(0,0,0,0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-4 {
  padding: 0;
}

.u-section-3 .u-form-1 {
  height: 217px;
  width: 1140px;
  margin: 0;
}

.u-section-3 .u-label-3 {
  width: 100px;
}

.u-section-3 .u-tab-pane-5 {
  transition-duration: 0.5s;
  box-shadow: 0 0 0 rgba(0,0,0,0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-5 {
  padding: 0;
}

.u-section-3 .u-form-2 {
  height: 217px;
  width: 1140px;
  margin: 0;
}

.u-section-3 .u-label-6 {
  width: 100px;
}

.u-section-3 .u-tab-pane-6 {
  transition-duration: 0.5s;
  box-shadow: 0 0 0 rgba(0,0,0,0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-6 {
  padding: 0;
}

.u-section-3 .u-form-3 {
  height: 217px;
  width: 1140px;
  margin: 0;
}

.u-section-3 .u-label-9 {
  width: 100px;
}

.u-section-3 .u-tab-pane-7 {
  transition-duration: 0.5s;
  box-shadow: 0 0 0 rgba(0,0,0,0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-7 {
  padding: 0;
}

.u-section-3 .u-form-4 {
  height: 217px;
  width: 1140px;
  margin: 0;
}

.u-section-3 .u-label-12 {
  width: 100px;
}

.u-section-3 .u-tab-pane-8 {
  transition-duration: 0.5s;
  box-shadow: 0 0 0 rgba(0,0,0,0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-8 {
  padding: 0;
}

.u-section-3 .u-form-5 {
  height: 217px;
  width: 1140px;
  margin: 0;
}

.u-section-3 .u-label-15 {
  width: 100px;
}

.u-section-3 .u-tab-pane-9 {
  transition-duration: 0.5s;
  box-shadow: 0 0 0 rgba(0,0,0,0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-9 {
  padding: 0;
}

.u-section-3 .u-form-6 {
  height: 217px;
  width: 1140px;
  margin: 0;
}

.u-section-3 .u-label-18 {
  width: 100px;
}

.u-section-3 .u-tab-pane-10 {
  transition-duration: 0.5s;
  box-shadow: 0 0 0 rgba(0,0,0,0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-10 {
  padding: 0;
}

.u-section-3 .u-form-7 {
  height: 217px;
  width: 1140px;
  margin: 0;
}

.u-section-3 .u-label-21 {
  width: 100px;
}

.u-section-3 .u-tab-pane-11 {
  transition-duration: 0.5s;
  box-shadow: 0 0 0 rgba(0,0,0,0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-11 {
  padding: 0;
}

.u-section-3 .u-form-8 {
  height: 217px;
  width: 1140px;
  margin: 0;
}

.u-section-3 .u-label-24 {
  width: 100px;
}

.u-section-3 .u-tab-pane-12 {
  transition-duration: 0.5s;
  box-shadow: 0 0 0 rgba(0,0,0,0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-12 {
  padding: 0;
}

.u-section-3 .u-form-9 {
  height: 217px;
  width: 1140px;
  margin: 0;
}

.u-section-3 .u-label-27 {
  width: 100px;
}

.u-section-3 .u-tab-pane-13 {
  transition-duration: 0.5s;
  box-shadow: 0 0 0 rgba(0,0,0,0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-13 {
  padding: 30px 25px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-btn-1 {
    margin-right: 51px;
  }

  .u-section-3 .u-table-2 {
    width: 940px;
  }

  .u-section-3 .u-form-1 {
    width: 940px;
  }

  .u-section-3 .u-form-2 {
    width: 940px;
  }

  .u-section-3 .u-form-3 {
    width: 940px;
  }

  .u-section-3 .u-form-4 {
    width: 940px;
  }

  .u-section-3 .u-form-5 {
    width: 940px;
  }

  .u-section-3 .u-form-6 {
    width: 940px;
  }

  .u-section-3 .u-form-7 {
    width: 940px;
  }

  .u-section-3 .u-form-8 {
    width: 940px;
  }

  .u-section-3 .u-form-9 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-3 .u-table-2 {
    width: 720px;
  }

  .u-section-3 .u-form-1 {
    width: 720px;
  }

  .u-section-3 .u-form-2 {
    width: 720px;
  }

  .u-section-3 .u-form-3 {
    width: 720px;
  }

  .u-section-3 .u-form-4 {
    width: 720px;
  }

  .u-section-3 .u-form-5 {
    width: 720px;
  }

  .u-section-3 .u-form-6 {
    width: 720px;
  }

  .u-section-3 .u-form-7 {
    width: 720px;
  }

  .u-section-3 .u-form-8 {
    width: 720px;
  }

  .u-section-3 .u-form-9 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-table-2 {
    width: 540px;
  }

  .u-section-3 .u-form-1 {
    width: 540px;
  }

  .u-section-3 .u-form-2 {
    width: 540px;
  }

  .u-section-3 .u-form-3 {
    width: 540px;
  }

  .u-section-3 .u-form-4 {
    width: 540px;
  }

  .u-section-3 .u-form-5 {
    width: 540px;
  }

  .u-section-3 .u-form-6 {
    width: 540px;
  }

  .u-section-3 .u-form-7 {
    width: 540px;
  }

  .u-section-3 .u-form-8 {
    width: 540px;
  }

  .u-section-3 .u-form-9 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-table-2 {
    width: 340px;
  }

  .u-section-3 .u-form-1 {
    width: 340px;
  }

  .u-section-3 .u-form-2 {
    width: 340px;
  }

  .u-section-3 .u-form-3 {
    width: 340px;
  }

  .u-section-3 .u-form-4 {
    width: 340px;
  }

  .u-section-3 .u-form-5 {
    width: 340px;
  }

  .u-section-3 .u-form-6 {
    width: 340px;
  }

  .u-section-3 .u-form-7 {
    width: 340px;
  }

  .u-section-3 .u-form-8 {
    width: 340px;
  }

  .u-section-3 .u-form-9 {
    width: 340px;
  }
}

.u-section-3 .u-tab-pane-4,
.u-section-3 .u-tab-pane-4:before,
.u-section-3 .u-tab-pane-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-tab-pane-4.u-tab-pane-4.u-tab-pane-4:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-tab-pane-4 {
  border-color: transparent !important;
}

.u-section-3 .u-tab-pane-4.u-tab-pane-4.u-tab-pane-4.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-tab-pane-4 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-tab-pane-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-tab-pane-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-tab-pane-2,
.u-section-3 .u-tab-pane-2:before,
.u-section-3 .u-tab-pane-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-tab-pane-2.u-tab-pane-2.u-tab-pane-2:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-tab-pane-2 {
  border-color: transparent !important;
}

.u-section-3 .u-tab-pane-2.u-tab-pane-2.u-tab-pane-2.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-tab-pane-2 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-tab-pane-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-tab-pane-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-tab-pane-1,
.u-section-3 .u-tab-pane-1:before,
.u-section-3 .u-tab-pane-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-tab-pane-1.u-tab-pane-1.u-tab-pane-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-tab-pane-1 {
  border-color: transparent !important;
}

.u-section-3 .u-tab-pane-1.u-tab-pane-1.u-tab-pane-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-tab-pane-1 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-tab-pane-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-tab-pane-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-tab-pane-3,
.u-section-3 .u-tab-pane-3:before,
.u-section-3 .u-tab-pane-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-tab-pane-3.u-tab-pane-3.u-tab-pane-3:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-tab-pane-3 {
  border-color: transparent !important;
}

.u-section-3 .u-tab-pane-3.u-tab-pane-3.u-tab-pane-3.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-tab-pane-3 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-tab-pane-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-tab-pane-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-tab-pane-5,
.u-section-3 .u-tab-pane-5:before,
.u-section-3 .u-tab-pane-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-tab-pane-5.u-tab-pane-5.u-tab-pane-5:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-tab-pane-5 {
  border-color: transparent !important;
}

.u-section-3 .u-tab-pane-5.u-tab-pane-5.u-tab-pane-5.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-tab-pane-5 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-tab-pane-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-tab-pane-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-tab-pane-6,
.u-section-3 .u-tab-pane-6:before,
.u-section-3 .u-tab-pane-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-tab-pane-6.u-tab-pane-6.u-tab-pane-6:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-tab-pane-6 {
  border-color: transparent !important;
}

.u-section-3 .u-tab-pane-6.u-tab-pane-6.u-tab-pane-6.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-tab-pane-6 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-tab-pane-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-tab-pane-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-tab-pane-7,
.u-section-3 .u-tab-pane-7:before,
.u-section-3 .u-tab-pane-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-tab-pane-7.u-tab-pane-7.u-tab-pane-7:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-tab-pane-7 {
  border-color: transparent !important;
}

.u-section-3 .u-tab-pane-7.u-tab-pane-7.u-tab-pane-7.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-tab-pane-7 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-tab-pane-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-tab-pane-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-tab-pane-8,
.u-section-3 .u-tab-pane-8:before,
.u-section-3 .u-tab-pane-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-tab-pane-8.u-tab-pane-8.u-tab-pane-8:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-tab-pane-8 {
  border-color: transparent !important;
}

.u-section-3 .u-tab-pane-8.u-tab-pane-8.u-tab-pane-8.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-tab-pane-8 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-tab-pane-8 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-tab-pane-8 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-tab-pane-9,
.u-section-3 .u-tab-pane-9:before,
.u-section-3 .u-tab-pane-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-tab-pane-9.u-tab-pane-9.u-tab-pane-9:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-tab-pane-9 {
  border-color: transparent !important;
}

.u-section-3 .u-tab-pane-9.u-tab-pane-9.u-tab-pane-9.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-tab-pane-9 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-tab-pane-9 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-tab-pane-9 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-tab-pane-10,
.u-section-3 .u-tab-pane-10:before,
.u-section-3 .u-tab-pane-10 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-tab-pane-10.u-tab-pane-10.u-tab-pane-10:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-tab-pane-10 {
  border-color: transparent !important;
}

.u-section-3 .u-tab-pane-10.u-tab-pane-10.u-tab-pane-10.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-tab-pane-10 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-tab-pane-10 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-tab-pane-10 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-tab-pane-11,
.u-section-3 .u-tab-pane-11:before,
.u-section-3 .u-tab-pane-11 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-tab-pane-11.u-tab-pane-11.u-tab-pane-11:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-tab-pane-11 {
  border-color: transparent !important;
}

.u-section-3 .u-tab-pane-11.u-tab-pane-11.u-tab-pane-11.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-tab-pane-11 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-tab-pane-11 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-tab-pane-11 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-tab-pane-12,
.u-section-3 .u-tab-pane-12:before,
.u-section-3 .u-tab-pane-12 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-tab-pane-12.u-tab-pane-12.u-tab-pane-12:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-tab-pane-12 {
  border-color: transparent !important;
}

.u-section-3 .u-tab-pane-12.u-tab-pane-12.u-tab-pane-12.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-tab-pane-12 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-tab-pane-12 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-tab-pane-12 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-tab-pane-13,
.u-section-3 .u-tab-pane-13:before,
.u-section-3 .u-tab-pane-13 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-tab-pane-13.u-tab-pane-13.u-tab-pane-13:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-tab-pane-13 {
  border-color: transparent !important;
}

.u-section-3 .u-tab-pane-13.u-tab-pane-13.u-tab-pane-13.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-tab-pane-13 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-tab-pane-13 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-tab-pane-13 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}