{% extends 'base.html' %}

{% block content %}


  <div class="u-align-left u-container-style u-hover-feature u-shape-rectangle u-tab-pane u-white u-tab-pane-3" id="tab-14b7" role="tabpanel">
              <div class="u-container-layout u-container-layout-3">
                <div class="u-form u-form-1">
                  <form action="{% url 'addapi' %}" method="post" style="padding: 10px;" enctype="multipart/form-data">
                    {% csrf_token %}
                  <div class="u-form-group u-form-select u-label-top u-form-group-1">
                      <label for="select-f1e4" class="u-label">user_profile</label>
                    <div class="u-form-select-wrapper">
                        {{ form.user_profile }}

                        <svg class="u-caret u-caret-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" style="fill:currentColor;" xml:space="preserve"><polygon class="st0" points="8,12 2,4 14,4 "></polygon></svg>
                    </div>
                  </div>
                    <div class="u-form-group u-form-select u-label-top u-form-group-1">
                      <label for="select-f1e4" class="u-label">exchanges</label>
                      <div class="u-form-select-wrapper">
                          {{ form.exchange }}
                        <svg class="u-caret u-caret-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" style="fill:currentColor;" xml:space="preserve"><polygon class="st0" points="8,12 2,4 14,4 "></polygon></svg>
                      </div>
                    </div>
                      <div class="u-form-group u-form-name u-label-top">
                      <label for="name-3b9a" class="u-label">api key</label>
                      {{ form.api_key }}
                      </div>
                        <div class="u-form-group u-label-top">
                      <label for="email-3b9a" class="u-label">secret key</label>
                      {{ form.secret_api_key }}
                        </div>
                      <div class="u-align-left u-form-group u-form-submit u-label-top">
                        <a href="#" class="u-border-2 u-border-black u-btn u-btn-submit u-button-style u-hover-black u-none u-text-black u-text-hover-white u-btn-3">ok<br></a>
                        <input type="submit" value="submit" class="u-form-control-hidden">
                      </div>
                        <div class="u-form-send-message u-form-send-success"> Thank you! Your key has been add. </div>
                          <div class="u-form-send-error u-form-send-message"> Unable to add your key. Please fix errors then try again. </div>
                            <input type="hidden" value="" name="recaptchaResponse">
                            <input type="hidden" name="formServices" value="9fe61096bfaf19119c34ba1d6565e74f">
                  </form>
                </div>
              </div>
  </div>

{% endblock %}