{% extends 'index.html' %}
{% block content %}
<div class="u-container-style u-hover-feature u-shape-rectangle u-tab-pane u-white u-tab-pane-2" id="tab-2917" role="tabpanel">
              <div class="u-container-layout u-container-layout-2">
                <div class="u-align-center u-table u-table-responsive u-table-2">
                  <table class="u-table-entity">
                    <colgroup>
                      <col width="9%">
                      <col width="9%">
                      <col width="9%">
                      <col width="9%">
                      <col width="9%">
                      <col width="9%">
                      <col width="9%">
                      <col width="9%">
                      <col width="9%">
                      <col width="9%">
                      <col width="9%">
                    </colgroup>
                    <thead class="u-black u-table-header u-table-header-1">
                      <tr style="height: 21px;">
                        <th class="u-border-1 u-border-black u-table-cell">Coins</th>
                        <th class="u-border-1 u-border-black u-table-cell">Binance</th>
                        <th class="u-border-1 u-border-black u-table-cell">Bybit</th>
                        <th class="u-border-1 u-border-black u-table-cell">Gate.io</th>
                        <th class="u-border-1 u-border-black u-table-cell"></th>
                        <th class="u-border-1 u-border-black u-table-cell"></th>
                        <th class="u-border-1 u-border-black u-table-cell"></th>
                        <th class="u-border-1 u-border-black u-table-cell"></th>
                        <th class="u-border-1 u-border-black u-table-cell"></th>
                        <th class="u-border-1 u-border-black u-table-cell"></th>
                        <th class="u-border-1 u-border-black u-table-cell">Total</th>
                      </tr>
                    </thead>
                    <tbody class="u-table-alt-grey-5 u-table-body">
                      <tr style="height: 40px;">
                        <td class="u-border-1 u-border-grey-30 u-first-column u-grey-50 u-table-cell u-table-cell-45">Row 1</td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell">Description</td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell">Description</td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell">Description</td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                      </tr>
                      <tr style="height: 46px;">
                        <td class="u-border-1 u-border-grey-30 u-first-column u-grey-50 u-table-cell u-table-cell-56">Row 2</td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell">Description</td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell">Description</td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell">Description</td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                      </tr>
                      <tr style="height: 30px;">
                        <td class="u-border-1 u-border-grey-30 u-first-column u-grey-50 u-table-cell u-table-cell-67">Row 3</td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell">Description</td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell">Description</td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell">Description</td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                      </tr>
                      <tr style="height: 46px;">
                        <td class="u-border-1 u-border-grey-30 u-first-column u-grey-50 u-table-cell u-table-cell-78">Row 4</td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell">Description</td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell">Description</td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell">Description</td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                      </tr>
                      <tr style="height: 46px;">
                        <td class="u-border-1 u-border-grey-30 u-grey-50 u-table-cell u-table-cell-89"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                      </tr>
                      <tr style="height: 46px;">
                        <td class="u-border-1 u-border-grey-30 u-grey-50 u-table-cell u-table-cell-100"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                      </tr>
                      <tr style="height: 46px;">
                        <td class="u-border-1 u-border-grey-30 u-grey-50 u-table-cell u-table-cell-111"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                      </tr>
                      <tr style="height: 46px;">
                        <td class="u-border-1 u-border-grey-30 u-grey-50 u-table-cell u-table-cell-122"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                      </tr>
                      <tr style="height: 46px;">
                        <td class="u-border-1 u-border-grey-30 u-grey-50 u-table-cell u-table-cell-133"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                      </tr>
                      <tr style="height: 46px;">
                        <td class="u-border-1 u-border-grey-30 u-grey-50 u-table-cell u-table-cell-144"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                      </tr>
                      <tr style="height: 46px;">
                        <td class="u-border-1 u-border-grey-30 u-grey-50 u-table-cell u-table-cell-155"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                      </tr>
                      <tr style="height: 46px;">
                        <td class="u-border-1 u-border-grey-30 u-grey-50 u-table-cell u-table-cell-166"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                      </tr>
                      <tr style="height: 46px;">
                        <td class="u-border-1 u-border-grey-30 u-grey-50 u-table-cell u-table-cell-177"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                      </tr>
                      <tr style="height: 46px;">
                        <td class="u-border-1 u-border-grey-30 u-grey-50 u-table-cell u-table-cell-188"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
{% endblock %}