{% extends 'base.html' %}

{% block content %}

        <div class="bd-example-snippet bd-code-snippet"><div class="bd-example">
        <table class="table table-striped">

          <thead>
          <tr>
            <th scope="col">Exchanges</th>
            <th scope="col">API key</th>
            <th scope="col">add/update API</th>
            <th scope="col">ping</th>
          </tr>
          </thead>
          <tbody>
          {% for i in exchange_list %}

          <tr>
            <th scope="row">{{ i.exchange }}</th>
            <td>{{ i.api }}</td>
                {% if i.api %}
                  <td><a href="{% url 'api_update' i.api_pk %}">update</a></td>
                {% else %}
                  <td><a href="{% url 'api_add' %}?name1={{ i.exchange }}">add</a></td>
                {% endif %}
          <td>cjmnchm</td>
          </tr>
          {% endfor %}



            <!--
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
          -->
          </tbody>

        </table>
        </div></div>




{% endblock %}