{% extends 'base.html' %}

{% block content %}

        <div class="bd-example-snippet bd-code-snippet"><div class="bd-example">
        <table class="table table-striped">
        <a>{{ api_dict }}</a>
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
          </thead>
          <tbody>

          {% for i in exchanges %}

          <tr>
            <th scope="row">{{ i }}</th>
            <td>{{ users_key}}</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          {% endfor %}



            <!--
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
          -->
          </tbody>

        </table>
        </div></div>




{% endblock %}