{% extends 'base.html' %}
{% block content %}
    <!-- section -->
<section class="u-align-center u-clearfix u-section-1" id="sec-c2dc">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-expanded-width u-tab-links-align-left u-tabs u-tabs-1">
      <ul class="u-border-2 u-border-palette-1-base u-spacing-5 u-tab-list u-unstyled" role="tablist">
        <li class="u-tab-item" role="presentation">
          <a class="active u-active-black u-button-style u-grey-10 u-tab-link u-text-active-white u-text-black u-tab-link-1" id="link-tab-0da5" href="#tab-0da5" role="tab" aria-controls="tab-0da5" aria-selected="true">Exchanges</a>
        </li>
        <li class="u-tab-item u-tab-item-3" role="presentation">
          <a class="u-active-black u-button-style u-grey-10 u-tab-link u-text-active-white u-text-black u-tab-link-3" id="link-tab-14b7" href="#tab-14b7" role="tab" aria-controls="tab-14b7" aria-selected="false">Api</a>
        </li>
<!--
            <li class="u-tab-item u-tab-item-2" role="presentation">
              <a class="u-active-black u-button-style u-grey-10 u-tab-link u-text-active-white u-text-black u-tab-link-2" id="link-tab-2917" href="#tab-2917" role="tab" aria-controls="tab-2917" aria-selected="false">Balance</a>
            </li>
            <li class="u-tab-item u-tab-item-4" role="presentation">
              <a class="u-active-black u-button-style u-grey-10 u-tab-link u-text-active-white u-text-black u-tab-link-4" id="tab-93fc" href="#link-tab-93fc" role="tab" aria-controls="link-tab-93fc" aria-selected="false">Questions</a>
            </li>
-->
      </ul>
        <div class="u-tab-content">
          <div class="u-container-style u-hover-feature u-shape-rectangle u-tab-active u-tab-pane u-white u-tab-pane-1" id="tab-0da5" role="tabpanel">
              <div class="u-container-layout u-container-layout-1">
                <div class="u-table u-table-responsive u-table-1">
                  <table class="u-table-entity">
                    <colgroup>
                      <col width="33%">
                      <col width="33%">
                      <col width="33%">
                    </colgroup>
                    <tbody class="u-table-alt-grey-5 u-table-body">
                      <tr style="height: 51px;">
                        <td class="u-table-cell">Exchanges</td>
                        <td class="u-table-cell">Status</td>
                        <td class="u-table-cell">Ping</td>
                      </tr>
                      {% for exchange in exchanges %}
                      <tr style="height: 51px;">
                        <td class="u-table-cell">{{ exchange.name }}</td>
                          {% if exchange.api_connect == False %}
                              <td class="u-table-cell">disconnect{{ sym }}</td>
                          {% else %}
                              <td class="u-table-cell">connect</td>
                          {% endif %}
                        <td class="u-table-cell">{{ exchange.ping }}</td>
                      </tr>

                      {% endfor %}


                    </tbody>
                  </table>
                </div>
                <a href="https://nicepage.app" class="u-btn u-btn-round u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-radius-31 u-btn-1"><span class="u-file-icon u-icon u-text-white u-icon-1"><img src="images/3031287-3cf6259a.png" alt=""></span>&nbsp;ping
                </a>
              </div>
            </div>
            <div class="u-align-left u-container-style u-hover-feature u-shape-rectangle u-tab-pane u-white u-tab-pane-3" id="tab-14b7" role="tabpanel">
              <div class="u-container-layout u-container-layout-3">
                <div class="u-form u-form-1">
                  <form method="post" style="padding: 10px;">
                    {% csrf_token %}
                  <div class="u-form-group u-form-select u-label-top u-form-group-1">
                      <label for="select-f1e4" class="u-label">user</label>
                    <div class="u-form-select-wrapper">
                        {{ api_form.user }}

                        <svg class="u-caret u-caret-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" style="fill:currentColor;" xml:space="preserve"><polygon class="st0" points="8,12 2,4 14,4 "></polygon></svg>
                    </div>
                  </div>
                    <div class="u-form-group u-form-select u-label-top u-form-group-1">
                      <label for="select-f1e4" class="u-label">exchanges</label>
                      <div class="u-form-select-wrapper">
                          {{ api_form.exchange }}
                        <svg class="u-caret u-caret-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" style="fill:currentColor;" xml:space="preserve"><polygon class="st0" points="8,12 2,4 14,4 "></polygon></svg>
                      </div>
                    </div>
                      <div class="u-form-group u-form-name u-label-top">
                      <label for="name-3b9a" class="u-label">api key</label>
                      {{ api_form.api_key }}
                      </div>
                        <div class="u-form-group u-label-top">
                      <label for="email-3b9a" class="u-label">secret key</label>
                      {{ api_form.secret_api_key }}
                        </div>
                      <div class="u-align-left u-form-group u-form-submit u-label-top">
                        <a href="#" class="u-border-2 u-border-black u-btn u-btn-submit u-button-style u-hover-black u-none u-text-black u-text-hover-white u-btn-3">ok<br></a>
                        <input type="submit" value="submit" class="u-form-control-hidden">
                      </div>
                        <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                          <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                            <input type="hidden" value="" name="recaptchaResponse">
                            <input type="hidden" name="formServices" value="9fe61096bfaf19119c34ba1d6565e74f">
                  </form>
                </div>
              </div>
            </div>
            <div class="u-container-style u-hover-feature u-shape-rectangle u-tab-pane u-white u-tab-pane-13" id="link-tab-93fc" role="tabpanel">
              <div class="u-container-layout u-container-layout-13">
                <div class="u-accordion u-expanded-width u-faq u-spacing-20 u-accordion-1">
                  <div class="u-accordion-item">
                    <a class="active u-accordion-link u-border-1 u-border-active-grey-75 u-border-grey-15 u-border-hover-grey-75 u-border-no-left u-border-no-right u-border-no-top u-button-style u-text-black u-accordion-link-1" id="link-accordion-6327" aria-controls="accordion-6327" aria-selected="true">
                      <span class="u-accordion-link-text">Do you provide support?</span><span class="u-accordion-link-icon u-icon u-text-black u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-8021"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-8021" style=""><path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path></svg></span></a>
                    <div class="u-accordion-active u-accordion-pane u-container-style u-accordion-pane-1" id="accordion-6327" aria-labelledby="link-accordion-6327">
                      <div class="u-container-layout u-container-layout-14">
                        <div class="fr-view u-clearfix u-rich-text u-text">
                          <p>Answer. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id suscipit ex. Suspendisse rhoncus laoreet purus quis elementum. Phasellus sed efficitur dolor, et ultricies sapien. Quisque fringilla sit amet dolor commodo efficitur. Aliquam et sem odio. In ullamcorper nisi nunc, et molestie ipsum iaculis sit amet.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                    <div class="u-accordion-item">
                      <a class="u-accordion-link u-border-1 u-border-active-grey-75 u-border-grey-15 u-border-hover-grey-75 u-border-no-left u-border-no-right u-border-no-top u-button-style u-text-black u-accordion-link-2" id="link-accordion-4aab" aria-controls="accordion-4aab" aria-selected="false">
                        <span class="u-accordion-link-text">What types of files I will get?</span><span class="u-accordion-link-icon u-icon u-text-black u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-3470"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-3470" style=""><path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path></svg></span></a>
                    <div class="u-accordion-pane u-container-style u-accordion-pane-2" id="accordion-4aab" aria-labelledby="link-accordion-4aab">
                      <div class="u-container-layout u-container-layout-15">
                        <div class="u-clearfix u-rich-text u-text">
                          <p>Answer. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id suscipit ex. Suspendisse rhoncus laoreet purus quis elementum. Phasellus sed efficitur dolor, et ultricies sapien. Quisque fringilla sit amet dolor commodo efficitur. Aliquam et sem odio. In ullamcorper nisi nunc, et molestie ipsum iaculis sit amet.</p>
                        </div>
                      </div>
                    </div>
                    </div>
                    <div class="u-accordion-item">
                      <a class="u-accordion-link u-border-1 u-border-active-grey-75 u-border-grey-15 u-border-hover-grey-75 u-border-no-left u-border-no-right u-border-no-top u-button-style u-text-black u-accordion-link-3" id="link-accordion-eb1f" aria-controls="accordion-eb1f" aria-selected="false">
                      <span class="u-accordion-link-text">How to get future updates?</span><span class="u-accordion-link-icon u-icon u-text-black u-icon-4"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-e07d"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-e07d" style=""><path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path></svg></span></a>
                    <div class="u-accordion-pane u-container-style u-accordion-pane-3" id="accordion-eb1f" aria-labelledby="link-accordion-eb1f">
                      <div class="u-container-layout u-container-layout-16">
                        <div class="fr-view u-clearfix u-rich-text u-text">
                          <p>Answer. </p>
                        </div>
                      </div>
                    </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
</section>
{% endblock %}
